<% wrap_layout :layout do %>

  <div class="w-section section tint">
  <div class="w-container">
    <div class="w-row recent-news-row">
      <div class="w-col w-col-9 overall-content-column-left">
        <div class="blog-post">
          <div class="blog-post-header-image-block" style="background: url('<%= image_path(current_article.data.header_image) %>'); background-size: 100% 280px "></div>
          <h1 class="blog-post-title"><%= current_article.title %></h1>
          <div class="blog-post-date"><%= current_article.date.strftime('%b %e, %G') %></div>
          <div class="w-richtext">
            <%= current_article.body %>
          </div>
          <div class="w-embed">
              <div class="addthis_sharing_toolbox"></div>
            </div>
          </div>
          <div class="w-clearfix blog-author-block"><%= image_tag current_article.data.author_image, :class => "blog-author-image"%>
            <div class="blog-author-title">Written by</div>
            <div class="blog-author-title _2"><%= current_article.data.author %></div>
          </div>
          <div class="w-embed w-script">
            <%= disqus %>
          </div>
        </div>
        <div class="w-col w-col-3 overall-sidebar-col-right">
          <div class="widget-block"><a href="fpga-design.html" class="link sidebar-list-link">FPGA design</a><a href="workshops-training.html" class="link sidebar-list-link">Workshops &amp; Training</a><a href="clash-support.html" class="link sidebar-list-link">C位aSH support</a>
          </div>
          <div class="widget-block">
            <a href="about-clash.html" class="w-inline-block widget-image-block">
              <div class="widget-image-block-overlay">
                <div class="image-block-title">About C位aSH</div>
                <div class="button">learn more</div>
              </div>
            </a>
          </div>
          <div class="widget-block">
            <div class="widget-content-block">
              <div class="w-clearfix content-info-block"><%= image_tag "location-pin.svg", :class => "contact-icon"%>
                <div class="contact-block-title">Visit us</div>
                <p class="contact-info-text">Institutenweg 25A
                  <br>7521 PH Enschede
                  <br>The Netherlands</p>
              </div>
              <div class="w-clearfix content-info-block"><%= image_tag "telephone-handle-silhouette.svg", :class => "contact-icon"%>
                <div class="contact-block-title">Call us</div>
                <p class="contact-info-text">Call us on <a href="tel:+31858000380" class="link">+31&nbsp;(0)6&nbsp;11&nbsp;211&nbsp;687</a>
                </p>
              </div>
              <div class="w-clearfix content-info-block last"><%= image_tag "email-filled-closed-envelope.svg", :class => "contact-icon"%>
                <div class="contact-block-title">Mail us</div>
                <p class="contact-info-text">Mail us on <a class="link" href="mailto:info@qbaylogic.com">info@qbaylogic.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="widget-block">
            <div class="widget-content-block">
              <ul class="w-list-unstyled icon-list">
                <li class="icon-list-item smaller"><%= image_tag "computer-microprocessor-2.svg", :class => "list-icon small"%>
                  <div class="list-title">FPGA consultants</div>
                  <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
                </li>
                <li class="icon-list-item smaller"><%= image_tag "mathematic-operations-buttons.svg", :class => "list-icon small" %>
                  <div class="list-title">Creators of C位aSH</div>
                  <p>We have developed C位aSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
                </li>
                <li class="icon-list-item smaller last"><%= image_tag "teacher.svg", :class => "list-icon small" %>
                  <div class="list-title">Experienced educators</div>
                  <p>Our workshops and training are based on 30+ years of experience in teaching students at bachelor, master, and phd level.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5735ce1812343b0e"></script>

<% end %>
