  <div class="w-section footer">
    <div class="footer-overlay">
      <div class="w-container container">
        <div class="w-row footer-row">
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">About us</div>
            <p><strong>QBayLogic B.V. i.o.</strong>
              <br>Zilverling 5096
              <br>Hallenweg 19
              <br>7522NH Enschede
              <br>
              <br>KvK: B.V. i.o.
              <br>BTW: B.V. i.o.</p>
          </div>
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">Contact us</div>
            <ul class="w-list-unstyled footer-list">
              <li class="footer-list-item">
                <p><strong>Postal address:<br></strong>Zilverling 5096
                  <br>Postbus 217
                  <br>7500 AE Enschede</p>
              </li>
              <li class="footer-list-item"><a href="tel:+31611211687" class="link footer-link">+31 (0)6 11 211 687</a>
              </li>
              <li class="footer-list-item"><a href="mailto:info@qbaylogic.com" class="link footer-link">info@qbaylogic.com</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">Useful links</div>
            <ul class="w-list-unstyled footer-list">
              <li class="footer-list-item"><%= link_to "About CλaSH", "about-clash.html", :class => "link footer-link" %>
              </li>
              <li class="footer-list-item"><%= link_to "Our team", "our-team.html", :class => "link footer-link" %>
              </li>
              <li class="footer-list-item"><%= link_to "Our services", "services-overview.html", :class => "link footer-link" %>
              </li>
              <li class="footer-list-item"><%= link_to "Blog Archive", "blog.html", :class => "link footer-link" %>
              </li>
              <li class="footer-list-item"><%= link_to "Contact us", "contact-us.html", :class => "link footer-link" %>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">Services</div>
            <ul class="w-list-unstyled footer-list">
              <li class="footer-list-item"><%= link_to "FPGA design", "fpga-design.html", :class => "link footer-link"%>
              </li>
              <li class="footer-list-item"><%= link_to "Workshops &amp; Training", "workshops-training.html", :class => "link footer-link"%>
              </li>
              <li class="footer-list-item"><%= link_to "CλaSH support", "clash-support.html", :class => "link footer-link"%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
