---
title: Blog Archive
pageable: true
per_page: 3
---
  <div class="w-section page-header dark">
    <div class="w-container container page-header-container">
      <h1 class="page-header-title">Blog archive</h1>
      <h2 class="page-header-title subtitle">Posts on using CλaSH</h2>
    </div>
  </div>
  <div class="w-section section tint">
    <div class="w-container container">
      <div class="w-row recent-news-row">
        <div class="w-col w-col-9 overall-content-column-left">
          <% page_articles.each_with_index do |article, i| %>
            <div class="blog-post">
              <% link_to article do %>
                <%= image_tag image_path(article.data.header_image), :class => "blog-post-header-image-block" %>
              <% end %>
              <%= link_to article.title, article, :class => "link blog-post-link" %>
              <div class="blog-post-date"><%= article.date.strftime('%b %e, %G') %></div>

              <%= article.summary(200) %>
             <%= link_to 'Read more', article, :class => "link with-arrow" %>
            </div>
          <% end %>

          <% if paginate %>

            <% if prev_page %>
              <p class='pagination-link'><%= link_to '<< Previous page', prev_page %></p>
            <% end %>

            <% if next_page %>
              <p class='pagination-link'><%= link_to 'Next page >>', next_page, :class => "link" %></p>
            <% end %>

          <% end %>
        </div>
        <div class="w-col w-col-3 overall-sidebar-col-right">
          <div class="widget-block"><a href="fpga-design.html" class="link sidebar-list-link">FPGA design</a><a href="workshops-training.html" class="link sidebar-list-link">Workshops &amp; Training</a><a href="clash-support.html" class="link sidebar-list-link">CλaSH support</a>
          </div>
          <div class="widget-block">
            <a href="about-clash.html" class="w-inline-block widget-image-block">
              <div class="widget-image-block-overlay">
                <div class="image-block-title">About CλaSH</div>
                <div class="button">learn more</div>
              </div>
            </a>
          </div>
          <div class="widget-block">
            <div class="widget-content-block">
              <div class="w-clearfix content-info-block"><%= image_tag "location-pin.svg", :class => "contact-icon"%>
                <div class="contact-block-title">Visit us</div>
                <p class="contact-info-text">Institutenweg 25A
                  <br>7521 PH Enschede
                  <br>The Netherlands</p>
              </div>
              <div class="w-clearfix content-info-block"><%= image_tag "telephone-handle-silhouette.svg", :class => "contact-icon"%>
                <div class="contact-block-title">Call us</div>
                <p class="contact-info-text">Call us on <a href="tel:+31611211687" class="link">+31&nbsp;(0)6&nbsp;11&nbsp;211&nbsp;687</a>
                </p>
              </div>
              <div class="w-clearfix content-info-block last"><%= image_tag "email-filled-closed-envelope.svg", :class => "contact-icon"%>
                <div class="contact-block-title">Mail us</div>
                <p class="contact-info-text">Mail us on <a class="link" href="mailto:info@qbaylogic.com">info@qbaylogic.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="widget-block">
            <div class="widget-content-block">
              <ul class="w-list-unstyled icon-list">
                <li class="icon-list-item smaller"><%= image_tag "computer-microprocessor-2.svg", :class => "list-icon small"%>
                  <div class="list-title">FPGA consultants</div>
                  <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
                </li>
                <li class="icon-list-item smaller"><%= image_tag "mathematic-operations-buttons.svg", :class => "list-icon small" %>
                  <div class="list-title">Creators of CλaSH</div>
                  <p>We have developed CλaSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
                </li>
                <li class="icon-list-item smaller last"><%= image_tag "teacher.svg", :class => "list-icon small" %>
                  <div class="list-title">Experienced educators</div>
                  <p>Our workshops and training are based on 30+ years of experience in teaching students at bachelor, master, and phd level.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
